/* COMMONS */
.box_img img{
    width: 100%;
}
/* FINE COOMONS  */
/* header  */
.box_sony img{
    width: 100px;
}
.link_btn{
    border-radius: 20px;
}
header .nav-item img{
    width: 25px;
}
.dropdown-toggle::after {
    border: none;
    content: '';
    height: 15px;
    width: 15px;
    display: inline-block;
    background-image: url(../img/img/chevron-down-solid.svg);
    background-size: cover;
    background-position: center;
    vertical-align: middle;
    transition: all 0.3s linear;
}
.nav_item:hover .dropdown-toggle::after{
    background-image: url(../img/img/chevron-down-solid-hover.svg);
}
.dropdown-toggle[aria-expanded="true"]:after{
    transform: rotate(-180deg);
    background-image: url(../img/img/chevron-down-solid-hover.svg);
}
.nav_item:hover .nav-link{
    color: #0070d1 !important;
}
/* fine header  */
/* inizio main  */
.box_ret{
    height: 600px;
    background-color: aqua;
}
.box_col{
    height: 100px;
    background-color: bisque;
}
.btn_box{
    border-radius: 20px;
}
.btn_bord{
    border: 1px solid white;
    border-radius: 20px;
}

.box_logo{
    height: 80px;
    width: 60%;
    background-color: yellow;
}

/* inizio playstation plus section  */
.ps_plus .container-xxl{
    background-color: #bebcbb;
}
.ps_plus .box_img{
    width: 100%;
}
.box_img img{
    width: 100%;
}
/* inizio ps_now */
.ps_now .container-xxl{
    background-color: #171c39;
}
/* fine main  */
/* inizio footer  */
.footer_down .box_logo.foot{
    width: 20%;
    background-color: red;
}
.bg_blue{
    background-color: #194296;
}

@media (min-width:768px) {
    .playstation .photo_ps{
        width: calc(100% / 5);
    }
}